<html ng-app="yahtzeeApp">
    <head>
        <link href='yahtzee.css' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    </head>
    <body>
        <h1>Yahtzee!</h1>
        <div ng-class='rollsLeft-wrapper'>
            <span ng-class='roll-label'>Rolls left: </span>
            <span ng-class='rolls-left'>2</span>
        </div>
        <div ng-class='score-wrapper'>
            <table ng-class='scores'></table>
        </div>

        <div ng-class='dice' >
            <div ng-repeat='die in dice'>
                {{die.value}}
            </div>
        </div>
        
        <div ng-class='btn-wrapper'><button ng-class='roll-btn' ng-click='roll()'>Roll!</button> </div>

        <br>
        <div ng-class='btn-wrapper'><button ng-class='newgame-btn' ng-click='newgame()'>New Game</button></div>
        <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src='yahtzeejs.js'></script>
    </body>
</html>
