<html ng-app="yahtzeeApp"  ng-controller="YahtzeeController">
    <head>
        <link href="yahtzee.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="yahtzeeangular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    </head>
    <body>
        <h1>Yahtzee!</h1>
        <h2 ng-show="gameOver">Game Over!!!! You scored: {{total}}</h2>
        <div ng-class="rollsLeft-wrapper">
            <span ng-class="roll-label">Rolls left: </span>
            <span ng-class="rolls-left">{{rollsLeft}}</span>
        </div>
        <div ng-class="score-wrapper">
            <table ng-class="scores">
                <tr>
                  <td>Score Type</td>
                  <td>Score</td>
                  <td>Possible Score</td>
                </tr>
                <tr ng-repeat="score in scoreList" ng-disabled="score.clicked"  ng-click="setScore($index)">
                    <td>{{score.label}}</td>
                    <td>{{score.scoreValue}}</td>
                    <td ng-hide="score.clicked">{{score.possible}}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>{{total}}</td>
                </tr>
            </table>
        </div>
        <div ng-class="dice" >
            <span class="die" ng-repeat="die in dice" ng-click="die.isHeld = !die.isHeld" ng-class="{held: die.isHeld}">
                {{die.value}}
            </span>
        </div>

        <div class="button roll-btn" ng-click="rollClick()" ng-hide="rollButtonDisabled">Roll!</div>
        <div class="button newgame-btn" ng-click="newGame()">New Game</div>
    </body>
</html>
